html, body {
    margin-left: auto;
    margin-right: auto;
    max-width: 92%;
  }

body {
    padding-top: 0px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }



.gallery img{
  width: 200px;
  height: 150px;
  transition: transform 500ms ease-in-out;
}

.m{
  display: inline-flex;
  justify-content: space-around;
 /* justify-content: space-around;*/
 border: 1px solid black;
 margin: 10px;
 flex-grow: 1;
 
}

.l {
  align-items: center;
  list-style:none; 
  width: 300px;
  display: flex;
  flex-direction: column;
}

.navbar navbar-default {
  background-color: white;
  border-color: rgb(255, 255, 255);
  font-weight: bolder;
}


.linetext {
  font-size: 16px;
  text-decoration: none;
  color: green;

}

.active {
  font-size: 16px;
}

.navbar-brand img {
  width: 200px;
  height: 200px;
  padding-top: -45px;
  padding-bottom: 10px;
}
.input-group {
    margin-left: 20px;
    margin-right: 30%;
    width: 30%;
}

/*SEARCH BAR*/
.input-group .search {
  width: 80%;
  height: 45px;
  border: 1px solid #000;
  padding: 0 0 0 36px;
  color: #000;
  font-family: "neutra-book",Helvetica;
  font-weight: bold;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px){
    .input-group, .social {
    display: none !important;
  }
}

/*SEARCH BUTTON*/
.go{
  /*background-color: orange;*/
  /*font-weight: bold;*/
  border: 1px solid #000;
}

.input-group .go {
  width: 20%;
  height: 45px;
  font-family: "neutra-book",Helvetica;
}

.logo, .input-group, .social {
  display: inline-block;
}

.twit{
  width: 500px;
  height: 500px;
}

.media {
  width: 10%;
  height: 10%;
}


.social .media img {
  width: 40px;
  height: 40px;
}

.navbar.main {
  margin-bottom: 0px;

}


.description {
  width: 200px;
  text-align: center;
  flex-grow: 1;
}

/*STYLES SEARCH BY CATEGORY*/
.container-fluid {
    font-size: 16px;
    font-style: italic;
    /* font-variant-caps: inherit; */
    /* font-family: initial; */
    font-weight: bolder;
    /* color: black; */
    text-transform: uppercase;
}

/*STYLES NAV RIGHT*/
.navbar-right {

}

a {
    color: black;
    text-decoration: none;
}
.navbar-brand {
    color: #000407;
    text-decoration: none;
}

/*SIDEBAR*/
.table{
  border: 1px solid black;
  width: 636px;
}

.table-bordered {
    border: 1px solid #ddd;
    width: 149px;
    height: 300px;
    font-size: 16px;
}

.pictsConteiner {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.gallery {
   display: flex;
}

a.dropdown-toggle {
  color: black !important;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}

.gallery img:hover {
  transform:scale(1.5);
  transition: transform 500ms ease-in-out;
}



